extends ../../views/wrapper.jade

block title
    h1.page-header JeeLabs

block content
    .row
        each driver in currentThing.drivers
            .col-lg-6
                .panel.panel-default
                    .panel-heading
                        | #{driver.name.en}
                        .panel-body
                            .table-responsive
                                table.table.table-striped.table-bordered.table-hover
                                    thead
                                        tr 
                                            th #
                                            each device in currentThing.devices
                                                each value, sensor in device.state
                                                    th #{sensor}
                                    tbody
                                    each device in currentThing.devices
                                        tr 
                                            td #{device.id}
                                            each value, sensor in device.state
                                                td #{value}
