/**/node_modules
/npm-debug.log
/embedded/Roomba/esp8266/build/app_app.a
/embedded/Roomba/esp8266/build/app.out
/embedded/Roomba/esp8266/build/driver/uart.o
/embedded/Roomba/esp8266/build/user/at_ipCmd.o
/embedded/Roomba/esp8266/build/user/at_port.o
/embedded/Roomba/esp8266/build/user/user_main.o
/embedded/Roomba/esp8266/firmware/0x00000.bin
/embedded/Roomba/esp8266/firmware/0x40000.bin
/framework/debug.log
