extends layout

block title
    h1.page-header Dashboard Flows

block content
    .container
        .row

block script
    script.
        $(document).ready(function(){
            getCollection('flow', '.row', function(){ console.log('loading done'); });
        });
    script(src='/js/dashboard.js')
    script(src='/js/dashboard_flows.js')