extends layout

block content
    .container
      // FIRST ROW OF BLOCKS
      .row
        // DONUT CHART BLOCK
        .col-sm-3.col-lg-3
          .dash-unit
            dtitle Site Bandwidth
            hr
            #load
            h2 45%
        // DONUT CHART BLOCK
        .col-sm-3.col-lg-3
          .dash-unit
            dtitle Disk Space
            hr
            #space
            h2 65%
        .col-sm-3.col-lg-3
          // LOCAL TIME BLOCK
          .half-unit
            dtitle Local Time
            hr
            .clockcenter
              digiclock 12:45:25
          // SERVER UPTIME
          .half-unit
            dtitle Server Uptime
            hr
            .cont
              p
                img(src='assets/img/up.png', alt='')
                bold Up
                |  | 356ms.
      // /row
      // SECOND ROW OF BLOCKS
      .row
        .col-sm-3.col-lg-3
          // MAIL BLOCK
          .dash-unit
            dtitle Inbox (1)
            hr
            .framemail
              .window
                ul.mail
                  li
                    i.unread
                    img.avatar(src='assets/img/photo01.jpeg', alt='avatar')
                    p.sender Adam W.
                    p.message
                      strong Working
                      |  - This is the last...
                    .actions
                      a
                        img(src='http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/undo.png', alt='reply')
                      a
                        img(src='http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/star_fav.png', alt='favourite')
                      a
                        img(src='http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/tag.png', alt='label')
                      a
                        img(src='http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/trash.png', alt='delete')
                  li
                    i.read
                    img.avatar(src='assets/img/photo02.jpg', alt='avatar')
                    p.sender Dan E.
                    p.message
                      strong Hey man!
                      |  - You have to taste ...
                    .actions
                      a
                        img(src='http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/undo.png', alt='reply')
                      a
                        img(src='http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/star_fav.png', alt='favourite')
                      a
                        img(src='http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/tag.png', alt='label')
                      a
                        img(src='http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/trash.png', alt='delete')
                  li
                    i.read
                    img.avatar(src='assets/img/photo03.jpg', alt='avatar')
                    p.sender Leonard N.
                    p.message
                      strong New Mac :D
                      |  - So happy with ...
                    .actions
                      a
                        img(src='http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/undo.png', alt='reply')
                      a
                        img(src='http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/star_fav.png', alt='favourite')
                      a
                        img(src='http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/tag.png', alt='label')
                      a
                        img(src='http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/trash.png', alt='delete')
                  li
                    i.read
                    img.avatar(src='assets/img/photo04.jpg', alt='avatar')
                    p.sender Peter B.
                    p.message
                      strong Thank you
                      |  - Finally I can ...
                    .actions
                      a
                        img(src='http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/undo.png', alt='reply')
                      a
                        img(src='http://png-1.findicons.com/files//icons/2232/wireframe_mono/16/star_fav.png', alt='favourite')
                      a
                        img(src='http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/tag.png', alt='label')
                      a
                        img(src='http://png-4.findicons.com/files//icons/2232/wireframe_mono/16/trash.png', alt='delete')
          // /dash-unit
        // /span3
        // GRAPH CHART - lineandbars.js file
        .col-sm-3.col-lg-3
          .dash-unit
            dtitle Other Information
            hr
            .section-graph
              #importantchart
              br
              .graph-info
                i.graph-arrow
                span.graph-info-big 634.39
                span.graph-info-small +2.18 (3.71%)
        // LAST MONTH REVENUE
        .col-sm-3.col-lg-3
          .dash-unit
            dtitle Last Month Revenue
            hr
            .cont
              p
                bold $879

                ok Approved
              br
              p
                bold $377
                |  | Pending
              br
              p
                bold $156

                bad Denied
              br
              p
                img(src='assets/img/up-small.png', alt='')
                |  12% Compared Last Month
        // 30 DAYS STATS - CAROUSEL FLEXSLIDER
        .col-sm-3.col-lg-3
          .dash-unit
            dtitle Last 30 Days Stats
            hr
            br
            br
            .flexslider
              ul.slides
                li
                  img(src='assets/img/slide01.png', alt='slider')
                li
                  img(src='assets/img/slide02.png', alt='slider')
            .cont
              p StatCounter Information
      // /row
      // THIRD ROW OF BLOCKS
      .row
        .col-sm-3.col-lg-3
          // BARS CHART - lineandbars.js file
          .half-unit
            dtitle Stock Information
            hr
            .cont
              .info-aapl
                h4 AAPL
                ul
                  li
                    span.orange(style='height: 37.5%')
                  li
                    span.orange(style='height: 47.5%')
                  li
                    span.orange(style='height: 70%')
                  li
                    span.orange(style='height: 85%')
                  li
                    span.green(style='height: 75%')
                  li
                    span.green(style='height: 50%')
                  li
                    span.green(style='height: 15%')
          // TO DO LIST
          .half-unit
            dtitle To Do List
            hr
            .cont
              p
                bold 13
                |  | Pending Tasks
            .progress
              .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width:60%;')
                span.sr-only 60% Complete
        .col-sm-3.col-lg-3
          // LIVE VISITORS BLOCK
          .half-unit
            dtitle Live Visitors
            hr
            .cont
              p
                bold 388
              p
                img(src='assets/img/up-small.png', alt='')
                |  412 Max.
                img(src='assets/img/down-small.png', alt='')
                |  89 Min.
          // PAGE VIEWS BLOCK
          .half-unit
            dtitle Page Views
            hr
            .cont
              p
                bold 145.0K
              p
                img(src='assets/img/up-small.png', alt='')
                |  23.88%
        .col-sm-3.col-lg-3
          // TOTAL SUBSCRIBERS BLOCK
          .half-unit
            dtitle Total Subscribers
            hr
            .cont
              p
                bold 14.744
              p 98 Subscribed Today
          // FOLLOWERS BLOCK
          .half-unit
            dtitle Twitter Followers
            hr
            .cont
              p
                bold 17.833 Followers
              p @SomeUser
        // LATEST NEWS BLOCK
        .col-sm-3.col-lg-3
          .dash-unit
            dtitle Latest News
            hr
            .info-user
              span.li_news.fs2(aria-hidden='true')
            br
            .text
              p
                b Alvarez.is:
                |  A beautiful new Dashboard theme has been realised by Carlos Alvarez. Please, visit
                a(href='http://alvarez.is') Alvarez.is
                |  for more details.
              p
                grey Last Update: 5 minutes ago.
      // /row
      // FOURTH ROW OF BLOCKS
      .row
        // TWITTER WIDGET BLOCK
        .col-sm-3.col-lg-3
          .dash-unit
            dtitle Twitter Widget
            hr
            .info-user
              span.li_megaphone.fs2(aria-hidden='true')
            br
            #jstwitter.clearfix
              ul#twitter_update_list
            script(src='http://twitter.com/javascripts/blogger.js')
            // Script Needed to load the Tweets
            script(src='http://api.twitter.com/1/statuses/user_timeline/wrapbootstrap.json?callback=twitterCallback2&count=1')
            // To show your tweets replace "wrapbootstrap", in the line above, with your user.
            .text
              p
                grey Show your tweets here!
        // NOTIFICATIONS BLOCK
        .col-sm-3.col-lg-3
          .dash-unit
            dtitle Notifications
            hr
            .info-user
              span.li_bubble.fs2(aria-hidden='true')
            .cont
              p
                button.btnnew.noty(data-noty-options='{"text":"This is a success notification","layout":"topRight","type":"success"}') Top Right
              p
                button.btnnew.noty(data-noty-options='{"text":"This is an informaton notification","layout":"topLeft","type":"information"}') Top Left
              p
                button.btnnew.noty(data-noty-options='{"text":"This is an alert notification with fade effect.","layout":"topCenter","type":"alert","animateOpen": {"opacity": "show"}}') Top Center (fade)
        // SWITCHES BLOCK
        .col-sm-3.col-lg-3
          .dash-unit
            dtitle Switches
            hr
            .info-user
              span.li_params.fs2(aria-hidden='true')
            br
            .switch
              input#on.switch-input(type='radio', name='view', value='on', checked='')
              label.switch-label.switch-label-off(for='on') On
              input#off.switch-input(type='radio', name='view', value='off')
              label.switch-label.switch-label-on(for='off') Off
              span.switch-selection
            .switch.switch-blue
              input#week2.switch-input(type='radio', name='view2', value='week2', checked='')
              label.switch-label.switch-label-off(for='week2') Week
              input#month2.switch-input(type='radio', name='view2', value='month2')
              label.switch-label.switch-label-on(for='month2') Month
              span.switch-selection
            .switch.switch-yellow
              input#yes.switch-input(type='radio', name='view3', value='yes', checked='')
              label.switch-label.switch-label-off(for='yes') Yes
              input#no.switch-input(type='radio', name='view3', value='no')
              label.switch-label.switch-label-on(for='no') No
              span.switch-selection
        // GAUGE CHART BLOCK
        .col-sm-3.col-lg-3
          .dash-unit
            dtitle Gauge Chart
            hr
            .info-user
              span.li_lab.fs2(aria-hidden='true')
            canvas#canvas(width='300', height='300')
      // /row
    // /container