extends layout

block head
    link(href='/assets/css/table.css', rel='stylesheet')

block content
    .container
        .row
            table(id="thingsTable" style="width: 100%")
                thead
                    tr
                        th Thing
                        th Driver
                        th DeviceId
                        th Capability
                        th Value
                tbody
    br

block script
    script.
        $(document).ready(function(){
            loadThings('#thingsTable', function(){ console.log('loading done'); });
            openWebSocketConnection();
        });
    script(src='/js/dashboard.js')
    script(src='/js/dashboard_things.js')
    script(src="https://cdn.socket.io/socket.io-1.3.7.js")
