extends layout

block title
    h1.page-header Dashboard SCENES

block content
    .container
        .row
            //each scene in scenes
            //      .col-md-3(id="scene_#{scene.id}").scene
            //            span(class="glyphicon #{ scene.icon }")
            //            h4 #{scene.name}

block script
    script(src='/js/dashboard_scenes.js')