#footerwrap
  footer.clearfix
  .container
    .row
      .col-sm-12.col-lg-12
        p
          img(src='/assets/img/logo.png', alt='')
        p Blocks Dashboard Theme - Crafted With Love - Copyright 2013
    // /row
  // /container
// /footerwrap
//
  Le javascript
  ==================================================
script(type='text/javascript', src='http://code.jquery.com/jquery-latest.js')
script(type='text/javascript', src='http://code.highcharts.com/highcharts.js')
script(src='/assets/js/jquery.flexslider.js', type='text/javascript')
block script