doctype html
html
  head
    meta(charset='utf-8')
    title DOMEY Dashboard
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Carlos Alvarez - Alvarez.is')
    // Le styles
    link(href='/assets/css/bootstrap.css', rel='stylesheet')
    link(href='/assets/css/main.css', rel='stylesheet')
    link(href='/assets/css/font-style.css', rel='stylesheet')
    link(href='/assets/css/flexslider.css', rel='stylesheet')
    style(type='text/css').
      body {
      padding-top: 60px;
      }
    // Le HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    // Le fav and touch icons
    link(rel='shortcut icon', href='/assets/ico/favicon.ico')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/assets/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/assets/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/assets/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/assets/ico/apple-touch-icon-57-precomposed.png')
    // Google Fonts call. Font Used Open Sans & Raleway
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,300', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    block head
  body
    include ./header.jade

    block content

    //block script

    include ./footer.jade