extends frame.jade

block wrapper
    #wrapper
      // Navigation
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            |                     
            span.icon-bar
            |                     
            span.icon-bar
            |                     
            span.icon-bar
          |                 
          a.navbar-brand(href='/') Domotica
        // /.navbar-header
        ul.nav.navbar-top-links.navbar-right
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              i.fa.fa-envelope.fa-fw
              |   
              i.fa.fa-caret-down
            |                              
            ul.dropdown-menu.dropdown-alerts
              li
                a(href='#')
                  div
                    i.fa.fa-comment.fa-fw
                    |  New Comment
                    |                                     
                    span.pull-right.text-muted.small 4 minutes ago
              |                         
              li.divider
              |                         
              li
                a(href='#')
                  div
                    i.fa.fa-twitter.fa-fw
                    |  3 New Followers
                    |                                     
                    span.pull-right.text-muted.small 12 minutes ago
              |                         
              li.divider
              |                         
              li
                a(href='#')
                  div
                    i.fa.fa-envelope.fa-fw
                    |  Message Sent
                    |                                     
                    span.pull-right.text-muted.small 4 minutes ago
              |                         
              li.divider
              |                         
              li
                a(href='#')
                  div
                    i.fa.fa-tasks.fa-fw
                    |  New Task
                    |                                     
                    span.pull-right.text-muted.small 4 minutes ago
              |                         
              li.divider
              |                         
              li
                a(href='#')
                  div
                    i.fa.fa-upload.fa-fw
                    |  Server Rebooted
                    |                                     
                    span.pull-right.text-muted.small 4 minutes ago
              |                         
              li.divider
              |                         
              li
                a.text-center(href='#')
                  strong See All Alerts
                  |                                 
                  i.fa.fa-angle-right
            // /.dropdown-alerts
          // /.dropdown
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              i.fa.fa-user.fa-fw
              |   
              i.fa.fa-caret-down
            |                     
            ul.dropdown-menu.dropdown-user
              li
                a(href='#')
                  i.fa.fa-user.fa-fw
                  |  User Profile
              |                         
              li
                a(href='#')
                  i.fa.fa-gear.fa-fw
                  |  Settings
              |                         
              li.divider
              |                         
              li
                a(href='/logout')
                  i.fa.fa-sign-out.fa-fw
                  |  Logout
            // /.dropdown-user
          // /.dropdown
        // /.navbar-top-links
        .navbar-default.sidebar(role='navigation')

            include sidebar-nav
        // /.navbar-static-side
      |         
      #page-wrapper
        .row
          .col-lg-12
            block title
                h1.page-header Dashboard
          // /.col-lg-12
        // /.row
        .row
          block content

        // /.row
      // /#page-wrapper
    // /#wrapper
    
block script