div.container {
    padding-top: 50px;
}

.col-centered{
  width: 100%;
  text-align: center;
  }

span.glyphicon {
    font-size: 5em;
}

div.scene {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.scene img {
    width: 100px;
    heigth: 100px;
}

.caption {
    display: block;
}